<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="!isSmallScreen"
    [mode]="sideNavMode"
    [fixedInViewport]="true"
  >
  <mat-toolbar color="primary">
      <span>Smart Examples</span>
  </mat-toolbar>

  <mat-nav-list>
    <!-- TODO: Adicionar ativação de rota -->
    <mat-list-item [activated]="true" routerLink="button-icons">Buttons</mat-list-item>
    <mat-list-item routerLink="form-field">Form Field</mat-list-item>
    <mat-list-item routerLink="progress-spinner">Progress Spinner</mat-list-item>
    <mat-list-item routerLink="tabs">Tabs</mat-list-item>
    <mat-list-item routerLink="datepicker">Datepicker</mat-list-item>
    <mat-list-item routerLink="snackbar">SnackBar</mat-list-item>
    <mat-list-item routerLink="autocomplete">Autocomplete</mat-list-item>
    <mat-list-item routerLink="dialog">Dialog</mat-list-item>
    <mat-list-item routerLink="dataTable">Data Table</mat-list-item>
  </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Toolbar 1 -->
    <mat-toolbar
      [class.mat-elevation-z6]="applyShadow"
      class="toolbar-menu padding"
      color="primary"
    >
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="popText">My App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Toolbar 2 -->
    <mat-toolbar
      class="toolbar-submenu padding"
      color="primary"
    >
      <span *ngIf="!popText">My App</span>
    </mat-toolbar>

    <!-- Main content -->
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
